/*
  Main Stylesheet
*/
.contact__list {
  padding: 0;
  list-style: none;
}

.contact__li {
  list-style: none;
  border-bottom: 1px solid rgb(30,144,255);
  text-decoration: none;
}

.contact__image--preview {
  border-radius: 65%;
  height: 7rem;
}

.contact__name--preview {
  display: inline-block;
  vertical-align: 1rem;
  margin-left: top;
}

.detail__header {
  background-color: rgb(255, 140, 0);
  padding: 1rem;
  text-decoration: none;
  width: 50%;
}

.detail__img {
  display: block;
  border-radius: 50%;
  background-color: rgb(255, 255, 255);
  margin-bottom: 2rem;
  margin-left: auto;
  margin-right: auto;
}

.fa {
  margin: 1rem;
  text-decoration: none;
}

.detail__li {
  border-bottom: 1px solid rgba(125, 140, 140, 0.5);
  font-size: 1.2rem;
  list-style: none;
  line-height: 2;
}

.list__header {
  color: rgb(255, 255, 255);
  background-color: rgb(255, 140, 0);
  padding: 1rem;
}
